<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="py-5 text-center">
            <h3>Info for {{ title }}</h3>
        </div>
        <div>
            <form method="POST" action="#" onsubmit="return confirm('Are you sure?')">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" value="{{ title }}" name="title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="body" class="col-sm-2 col-form-label">Body</label>
                    <div class="col-sm-10">
                        <textarea cols="100" rows="10" class="form-control" id="body" name="body">{{ md }}</textarea>
                    </div>
                </div>
                <input type="submit" name="action" value="Save" class="btn btn-primary">
                <input type="submit" name="action" value="Delete" class="btn btn-danger">
            </form>
            {% for link in links %}
            <div class="py-5">
                <div class="form-group row">
                    <label for="link_for" class="col-sm-2 col-form-label">Link for</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="link_for" value="{{ link['link_for'] }}" readonly>
                    </div>

                    <div class="col-sm-1">
                        <form method="POST" action="{{ url_for('dellink', linkid=link['id']) }}" onsubmit="return confirm('Are you sure?')">
                            <input type="submit" name="action" value="Delete" class="btn btn-danger">
                        </form>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="url" class="col-sm-2 col-form-label">URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="url" value="{{ link['href'] }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="visits" class="col-sm-2 col-form-label">Visits</label>
                    <div class="col-sm-10">
                        <table id="visits" class="table table-striped" style="table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th scope="col">Datetime</th>
                                    <th scope="col">IP</th>
                                    <th scope="col">Referrer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for visit in link['visits'] %}
                                <tr>
                                    <td>
                                        {{ visit['dt'] }}
                                    </td>
                                    <td>
                                        {{ visit['ip'] }}
                                    </td>
                                    <td>
                                        {{ visit['ref'] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
